body {
}
 
.logo{
    display: inline-block;
    vertical-align:top;
    width: 40px;
    height: 40px;
    margin-right: 1px;
    margin-top: 0.5px;
}
 
.table{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    
}
 
.validation-summary-errors {
    border: 2px dashed red;
    color: red;
    background-color: yellow;
    font-weight: bold;
    margin: 12px;
}
.head { background-color: #E8E8E8; font-weight: bold; color: #FFF; }
.grid th, .grid td { border: 1px solid #C0C0C0; padding: 5px; border-collapse: collapse;}
 
.clickable{
    cursor: pointer;
    background: #ffff99; 
}



