<!DOCTYPE html>
<html>
    <head>
        <title>E-Books</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/main.css" />
        <link rel="stylesheet" href="~/css/Logo.css" />
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!--Responsive Mobiel-->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    </head>
    <body>
        <!--The Navbar Element-->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="~/Default-Page.cshtml">E-Books Online</a>

                    <img src="~/Images/child-reading-book_icon-icons.com_49293.png" height="50" width="50" />
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="~/ToevoegenBoek.cshtml">Toevoegen</a></li>
                    <li><a href="~/AanpassenBoek.cshtml">Aanpassen</a></li>
                    <li><a href="~/VerwijderBoek.cshtml">Verwijderen</a></li>
                    @*<li><a href="#">Mijn Collectie</a></li>*@
                </ul>
                <ul class="nav navbar-nav navbar-right nav-login">
                    @if (WebSecurity.IsAuthenticated)
                    {
                        <li><a class="email" href="~/Index.cshtml" title="Manage" style="color:white">@WebSecurity.CurrentUserName</a></li>
                        <li style="color:white">
                            <a href="javascript:document.getElementById('logoutForm').submit()">
                            <form id="logoutForm" action="~/Logout" method="post">
                                    @AntiForgery.GetHtml()
                                    <span style="color: white;">Log uit</span>
                                </form>
                                </a>
                        </li>
                    }
                    @*<li><a href="~/RegisterPage.cshtml" style="color:black"><span class="glyphicon glyphicon-user" style="color:black"></span> Sign Up</a></li>
                        <li><a href="~/Index.cshtml" style="color:black"><span class="glyphicon glyphicon-log-in" style="color:black"></span> Log out</a></li>*@
                </ul>
            </div>
        </nav>
        <div id="main">
            @RenderBody()
        </div>
        <footer>
            <p>Made with &#9829; in Bootstrap</p>
        </footer>
        <!-- JQuery Scripts-->
        <script src="js/jquery.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="js/bootstrap/bootstrap.min.js"></script>
        @RenderSection("script", required: false)
    </body>
</html>
