<!DOCTYPE html>
<html>
    <head>
        <title>E-Books</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/main.css" />
        <link rel="stylesheet" href="~/css/Logo.css" />
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!--Responsive Mobiel-->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    </head>
    <body>
        <!--The Navbar Element-->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="~/Default-Page.cshtml">E-Books Online</a>

                    <img src="~/Images/child-reading-book_icon-icons.com_49293.png" height="50" width="50" />
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="~/ToevoegenBoek.cshtml">Toevoegen</a></li>
                    <li><a href="~/AanpassenBoek.cshtml">Aanpassen</a></li>
                    <li><a href="~/VerwijderBoek.cshtml">Verwijderen</a></li>
                    @*<li><a href="#">Mijn Collectie</a></li>*@
                </ul>
                <ul class="nav navbar-nav navbar-right nav-login">
                    @if (WebSecurity.IsAuthenticated)
                    {
                        <li><a class="email" href="~/Index.cshtml" title="Manage" style="color:white">@WebSecurity.CurrentUserName</a></li>
                        <li style="color:white">
                            <form id="logoutForm" action="~/LoginPage.cshtml" method="post" style="display: none;"></form>
                            @AntiForgery.GetHtml()
                            <a href="javascript:document.getElementById('logoutForm').submit()" style="color:white">Log out</a>
                        </li>
                    }
                    @*<li><a href="~/RegisterPage.cshtml" style="color:black"><span class="glyphicon glyphicon-user" style="color:black"></span> Sign Up</a></li>
                        <li><a href="~/Index.cshtml" style="color:black"><span class="glyphicon glyphicon-log-in" style="color:black"></span> Log out</a></li>*@
                </ul>
            </div>
        </nav>

        <div class="navbar navbar-fixed-bottom">
            <div class="container-fluid" style="background-color:dodgerblue">
                <p><i style="text-align:right; font-size: 10px">Made with Bootstrap</i></p>
            </div>
        </div>


        <!-- JQuery Scripts-->
        <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8" s717jcizly3oi35eouye="" crossorigin="anonymous"></script>
        @section script{
            <script type="text/javascript">
                $(function () {
                    $('tbody tr').hover(function () {
                        $(this).toggleClass('clickable');
                    }).on('click', function () {
                        location.href = '/Details/' + $(this).find('td:first').text();
                    });
                });
            </script>
        }
    </script>
        <div id="main">
            @RenderBody()
            @RenderSection("script", required: false)
        </div>
    </body>
</html>
