@{

    Layout = "~/_SiteLayout.cshtml";

    var db = Database.Open("e-Books");
    var selectCommand = "SELECT * FROM boeken";
    var searchTerm = "";

    var query = "SELECT * FROM boeken";
    var data = db.Query(query);
    var columns = new[] { "Titel", "Auteur", "Datum", "Waardering", "Taal", "Uitgever", "Genre" };
    var grid = new WebGrid(data, ajaxUpdateContainerId: "grid", columnNames: columns);


    var selectedData = db.Query(selectCommand, searchTerm);

}

<!DOCTYPE html>
<html>
<head>
    


</head>
<body>

<div class="container-fluid"> 
    <div class="row">
        <div class="col-xs-2">
            <form class="panel">
                <h4 align="center">Zoek Filter</h4>
                <br /><br />
                <ul>
                    <li><label><input type="checkbox" name="Titel" />Titel</label></li>
                    <li><label><input type="checkbox" name="Auteur" />Auteur</label></li>
                    <li><label><input type="checkbox" name="Genre" />Genre</label></li>
                    <li><label><input type="checkbox" name="Waardering" />Waardering</label></li>
                    <li><label><input type="checkbox" name="Taal" />Taal</label></li>
                </ul>

            </form>
        </div>
        <div class="col-xs-8">
            <h1>De E-Book Collectie</h1>
                <div id="grid">
                @grid.GetHtml(
                    tableStyle: "table",
                    headerStyle: "head",
                    alternatingRowStyle: "alt"

                )
        </div>
            @section script{
                <script type="text/javascript">
                    $(function(){
                    $('tbody tr').hover( function(){
                    $(this).toggleClass('clickable');
                    }).on('click', function(){
                    location.href = '/Details/' + $(this).find('td:first').text();
                    });
                    });
                </script>
            }
        </div>
        <div class="col-xs-2">
            <form class="panel">
                <div class="text-center">
                    <img src="~/Images/child-reading-book_icon-icons.com_49293.png" height="60" width="60" alt="" class="img-rounded">
                    <br /><br />
                    <p5><b>Titel:</b>.......</p5>
                    <br />
                    <p5><b>Auteur:</b>.......</p5>
                    <br />
                    <p5><b>Taal:</b>.......</p5>
                    <br />
                    <p5><b>Waardering:</b>.......</p5>
                    <br />
                    <p5><b>Genre:</b>.......</p5>
                </div>
            </form>
        </div>
    </div>
</div>






    


    <!-- JQuery Scripts-->
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
</body>
</html>
