@{
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <link rel="stylesheet" href="~/css/Logo.css" />
        <link rel="stylesheet" href="~/css/main.css" />

        <!-- Optional theme -->
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!--Responsive Mobiel-->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <meta charset="utf-8" />
        <title>E-Books Online Voorwoord</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <br /><br /><br />
                    <form class="panel">
                        <div class="text-center">
                            <br /><br /><br />
                            <img src="~/Images/child-reading-book_icon-icons.com_49293.png" alt="L" height="150" width="150" />
                            <br /><br />
                            <h4>E-Books Online Collectie van Aswin van Woudenberg</h4>
                            <br /><br />
                            <h6>Deze website is van Aswin van Woudenberg en zijn vrienden. Hier plaatst hij al zijn Online E-books</h6>
                            <br /><br /><br />
                            <div>
                                <a href="~/RegisterPage.cshtml">Registreer Account</a>
                                <a href="~/LoginPage.cshtml">Log in Hier</a>
                            </div>
                            <br /><br /><br /><br />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- JQuery Scripts-->
        <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8" s717jcizly3oi35eouye="" crossorigin="anonymous"></script>
    </body>
</html>
