@{
    Layout = "~/_SiteLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>E-Books</title>


</head>
<body style="background-color:#BDE0FB">




         <!-- JQuery Scripts-->
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    </body>
</html>
