@{
    
}

<!DOCTYPE html>
<html>
<head>
    <title>E-Books</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/Logo.css" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!--Responsive Mobiel-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


</head>
<body style="background-color:#BDE0FB">
 <!--The Navbar Element-->   
    <nav class="navbar navbar-default"  >
        <div class="container-fluid" style="background-color:dodgerblue">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>


                </button>
                <img src="~/Images/child-reading-book_icon-icons.com_49293.png" height="50" width="50"/>

                <a class="navbar-brand" href="#" style="color:black">E-Books Online van Aswin</a>
                
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Toevoegen <span class="sr-only">(current)</span></a></li>
                    <li class="active"><a href="#">Bewerken <span class="sr-only">(current)</span></a></li>
                    <li class="active"><a href="#">Verwijderen <span class="sr-only">(current)</span></a></li>
                    <li class="active"><a href="#">Mijn Collectie <span class="sr-only">(current)</span></a></li>
                    
                </ul>

                <ul class="nav navbar-nav">
                    <button type="button" class="btn btn-default navbar-btn">Sign in</button>
                    <li class="active" ><a href="#">Instellingen <span class="sr-only">(current)</span></a></li>
                    
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>




         <!-- JQuery Scripts-->
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    </body>
</html>
